@import 'bootstrap/scss/functions';
@import './variables';

@import 'bootstrap/scss/bootstrap';
@import './utilities';

.react-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.rilakkuma-footer {
  background-image: 'https://www.san-x.co.jp/rilakkuma/img/wall/twitter_01.png';
}

.product {
  cursor: pointer;
  transition: 0.5s;
}

.product:hover:before {
  opacity: 1;
}

.product:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  opacity: 0;
  transition: 0.5s;
}
